{
  "#invoking_reply#": "🪄✨ 正在为您召唤魔法，稍等一会儿，马上就好。",
  "#error_reply#": "😮💨看起来像是服务器在做深呼吸，稍等一下，它会回来的。",
  "open_ai_api_base": "https://api-url/v1/chat/completions",
  "open_ai_api_key": "",
  "open_ai_model": "",
  "prompt":  "分析图片中都有些什么"
}
