{
  "#invoking_reply#": "🪄✨ 正在为您召唤魔法，稍等一会儿，马上就好。",
  "#error_reply#": "😮‍💨看起来像是服务器在做深呼吸，稍等一下，它会回来的。",
  "分析": {
       "response_type": "text",
       "open_ai_api_base": "xxx",
       "open_ai_api_key": "xxx",
       "open_ai_model": "xxx",
       "prompt":  "根据用户的问题，先全局分析图片的主要内容，并按照逻辑分层次、段落，提炼出图片中与用户问题相关的信息、关键要点"
  },
  "修图": {
       "response_type": "image",
       "open_ai_api_base": "xxx/v1/chat/completions",
       "open_ai_api_key": "xxx",
       "open_ai_model": "xxxx",
       "prompt":  "请仔细观察以下图片，提取用户所关注的内容",
       "response_regex": "https://[^\\s\\)]+?\\.png"
  }
}
